@use "colors";

@mixin footer($text-shadow-onhover) {
  border: 0;
  margin: 36px;
  padding: 0;
  text-align: left;
  width: calc(50% - 32px);
  & a {
    text-decoration: none;
    &:hover {
      cursor: pointer;
      text-shadow: $text-shadow-onhover;
    }
  }
}
@mixin styled--light {
  & a {
    color: colors.$dark-1;
    &:hover {
      color: colors.$dark-2;
    }
  }
  @include footer(1px 1px 2px #6486);
}
@mixin styled--default {
  & a {
    color: colors.$light-1;
    &:hover {
      color: colors.$light-2;
    }
  }
  @include footer(1px 1px 2px #b9c6);
}
