@use '/src/styles/partials/colors';

.cert {
	transition: all 0.3s ease-out;
	&:hover {
		cursor: default;
		filter: drop-shadow(0 0 2em colors.$light-2);
		transform: scale(1.08);
		opacity: 0.8 !important;
	}
}

.anchor-text {
	transform-origin: center;
}
