<span *ngIf="language === 'en'">
  <div>
    <br />
    <h2>
      Contact Information
    </h2>
    <h1>
      Direct message me on LinkedIn if you'd like to contact me. 
    </h1>
    <br />
    <a target="_blank" href="https://www.linkedin.com/in/prestonnalls">
      <img src="../../../../../assets/linkedin-logo.png" alt="LinkedIn Logo Initials"/>
    </a>
    <br />
    <p>
      Access my 
      <a target="_blank" href="https://www.linkedin.com/in/prestonnalls">LinkedIn profile here</a>.
    </p>
  </div>
</span>
<span *ngIf="language === 'jp'">
    <div>
      <br />
      <h2>
        連絡先情報
      </h2>
      <h1>
        毎日LinkedInの通知を<br/>
        チェックしているので、<br/>
        ダイレクトメッセージを<br/>
        お送りいただければ幸いです。
      </h1>
      <br />
      <a target="_blank" href="https://www.linkedin.com/in/prestonnalls/?locale=ja_JP">
        <img src="../../../../../assets/linkedin-logo.png" alt="LinkedIn Logo Initials"/>
      </a>
      <br />
      <p>
        私の 
        <a target="_blank" href="https://www.linkedin.com/in/prestonnalls/?locale=ja_JP">
          LinkedInプロフィールへ
        </a>。
      </p>
    </div>
  </span>