<div>
  <br />
  <h2>
    Professional Résumé
  </h2>
  <div class="page-1">
    <div class="container">
      <h3>DEVELOPER SKILLS</h3>     
        <div class="column">
          <span><b>Coding Languages</b></span>
          <hr class="resume-hr"/>
          <ul>
            <li>JavaScript (ES5/ES6)</li>
            <li>TypeScript</li>
            <li>Sass (SCSS/CSS)</li>
            <li>HTML</li>
            <li>C#</li>
            <li>SQL/T-SQL</li>
          </ul>
          <span><b>Frameworks/Libraries</b></span>
          <hr class="resume-hr"/>
          <ul>
            <li>Angular (TypeScript)</li>
            <li>ASP.NET MVC (C#)</li>
            <li>jQuery</li>
          </ul>
        </div>
        <div class="column">
          <span><b>CLI/IDE/CD/CI Tools</b></span>
          <hr class="resume-hr"/>
          <ul>
            <li>Webpack</li>
            <li>npm (Node.js)</li>
            <li>nvm (Node.js)</li>
            <li>Git</li>
            <li>GitHub</li>
            <li>Visual Studio Code</li>
            <li>Visual Studio Enterprise</li>
            <li>Azure DevOps (TFS)</li>
            <li>Git Bash</li>
            <li>GNU Bash</li>
            <li>PowerShell/cmd (Windows)</li>
          </ul>
        </div>
        <div class="column">
          <span><b>Operating Systems</b></span>
          <hr class="resume-hr"/>
          <ul>
            <li>Windows</li>
            <li>GNU/Linux</li>
            <li>OS X</li>
          </ul>
          <span><b>Natural Languages</b></span>
            <hr class="resume-hr"/>
            <ul>
              <li>English (Native)</li>
              <li>Japanese (JLPT N2)</li>
              <li>Chinese (Basic Literacy)</li>
              <li>Spanish (Elementary)</li>
            </ul>
        </div>
        <h3>PROFESSIONAL EXPERIENCE</h3>
        <div class="full-column">
            <span><b>.NET Developer @ HCA (Client) as a Consultant @ Syntel (Employer)</b></span>
            <hr class="resume-hr"/>
            <ul>
              <li>
                Develop ASP.NET MVC, clinical 
                applications with Microsoft tech stack in an Agile environment
              </li>
              <li>
                Enhance UI via HTML, CSS, 
                vanilla JavaScript, Knockout.js, Ember.js, 
                CoffeeScript, and Razor
              </li>
              <li>
                Implement RESTful APIs in C# controllers using 
                LINQ for CRUD operations on a database
              </li>
              <li>
                Design SQL queries to capture electronic 
                medical records (EMRs) from multiple database tables
              </li>
              <li>
                Create/alter T-SQL functions to add/modify SQL
                 logic called in scripts in .NET MVC application
              </li>
              <li>
                  Create/manage/build branches in Azure DevOps,
                  and test/merge code into master
              </li>
              <li>
                  Write unit testing methods in Visual Studios to yield 
                  + and - test results for new C# code written
              </li>
              <li>
                  Participate in daily Scrums to update fellow developers 
                  and developer leads, QA, business, and product analysts
              </li>
              <li>
                  Proactively communicate with product analysts for 
                  clarifications of requirements or providing solutions 
                  to impediments
              </li>
              <li>
                  Consistently keep coverage of all new C# code I 
                  introduce as enhancements for the clinical application
              </li>
              <li>
                  Track bugs, vulnerabilities, and other code issues 
                  in projects via code analysis tools SonarQube and SonarLint
              </li>
            </ul>
          </div>
      </div>
    </div>
  <div class="page-2">
  </div>
</div>