div {
  width: 800px;
  height: auto;
  margin: 25px auto;
  text-align: left;
  -webkit-animation: slide-up-fade-in ease-out 0.75s forwards;
  animation: slide-up-fade-in ease-out 0.75s forwards;

  @import '../../../../_slide-up-fade-in.scss';
  
  h2 {
    font-weight: 500;
    color: #aaaaaa;
    margin-bottom: 10px;
    font-size: 35px;
  }
  img {
    width: 800px;
    height: auto;
    opacity: 0;
    -webkit-animation: page-slide-up-fade-in ease-out 0.5s forwards;
    -webkit-animation-delay: 0.75s;
    animation: page-slide-up-fade-in ease-out 0.5s forwards;
    animation-delay: 0.75s;
  }

  @import './_page-slide-up-fade-in.scss';
}

@media only screen and (max-width: 815px) {
  div {
    margin: 15px;
    width: 95%;
    img {
      width: 680px;
    }
    h2 {
      margin-bottom: 10px;
      font-size: 25px;
    }
  }
}

