div {
  width: 800px;
  height: auto;
  margin: 25px auto;
  text-align: left;
  -webkit-animation: slide-up-fade-in ease-out 0.75s forwards;
  animation: slide-up-fade-in ease-out 0.75s forwards;

  @import '../../../../slide-up-fade-in';
  
  h2 {
    font-weight: 500;
    color: #aaaaaa;
    margin-bottom: 10px;
    font-size: 35px;
  }
  img {
    width: 800px;
    height: auto;
  }
}


