h1.header {
 color: #ffffff;
 font-size: 50px;
 line-height: 65px;
 margin-top: 22.5px;
 font-weight: 500;
 -webkit-animation: slide-up-fade-in ease-out 1s;
 animation: slide-up-fade-in ease-out 1s;
}

 @-webkit-keyframes slide-up-fade-in {
  from {
    margin-top: 40px;
    opacity: 0;
  }
  to {
    margin-top: 22.5px;
    opacity: 1;
  }
}

@keyframes slide-up-fade-in {
  from {
    margin-top: 40px;
    opacity: 0;
  }
  to {
    margin-top: 22.5px;
    opacity: 1;
  }
}

img {
  position: relative;
  z-index: -9999;
  top: -150px;
  -webkit-animation: fade-in-img ease-in-out 2s;
  animation: fade-in-img ease-in-out 2s;
}

 @-webkit-keyframes fade-in-img {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-img {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}