$amber-gold: #9a7c30;
$dark-1: #190444ef;
$dark-1a: #490444ef;
$dark-2: #1904447f;
$faint-gold: #fff9f0;
$filter-blue: #646cffaa;
$light-1: #e9dfffff;
$light-1a: #efff;
$light-2: #e9dfffcf;
$light-gold: #cfb090;
$violet--default-1: #a4acff;
$violet--default-2: #838bff;
$violet-light-1: #75a;
$violet-light-2: #131b4f;
