@use "colors";

@mixin footer($text-shadow-onhover) {
  background: transparent !important;
  border: 0;
  margin: 16px 0;
  padding: 0;
  padding: 0;
  text-align: left;
  & a {
    padding-left: 20px;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      text-shadow: $text-shadow-onhover;
    }
  }
}
@mixin styled--light {
  & a {
    color: colors.$dark-1;
    &:hover {
      color: colors.$dark-2;
    }
  }
  @include footer(1px 1px 2px #6486);
}
@mixin styled--default {
  & a {
    color: colors.$light-1;
    &:hover {
      color: colors.$light-2;
    }
  }
  @include footer(1px 1px 2px #b9c6);
}
