@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
}

html:before,
body:before {
  content: "";
  content: "";
  width: 100%;
  height: 100vh;
  background-image: url("/assets/bg.avif");
  position: fixed;
  opacity: 0.1;
  background-color: #1f2937;
  left: 0;
  top: 0;
  z-index: -1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#blossomContainer {
  background-color: transparent;
  position: absolute;
  width: 100%;
}

.petal {
  transform: scale(0.7);
}

.petal.petal-style1 {
  width: 31px;
  height: 22px;
  background-position: -61px 0;
}
.petal.petal-style2 {
  width: 28px;
  height: 20px;
  background-position: -30px -23px;
}
.petal.petal-style3 {
  width: 26px;
  height: 19px;
  background-position: -30px -50px;
}
.petal.petal-style4 {
  width: 23px;
  height: 18px;
  background-position: -79px -35px;
}

@layer base {
  body {
    @apply bg-fixed dark:bg-[#313] bg-[#ccf] text-[#19216f] dark:text-[#fff0e0] tracking-wide transition-all duration-200 ease-linear;
    overflow-y: scroll;
  }

  .primary-gradient {
    @apply z-[0] bg-fixed bg-gradient-to-b dark:from-[#517] dark:to-[#715] from-[#c0c0ff] to-[#ffc0f0];
  }
  .secondary-gradient {
    @apply z-[0] bg-fixed bg-gradient-to-b dark:from-[#715] dark:to-[#517] from-[#ffc0f0] to-[#c0c0ff];
  }

  .primary-gradient {
    -webkit-animation: 4.25s ease primary-opacity-change 1s infinite;
    -ms-animation: 4.25s ease primary-opacity-change 1s infinite;
    -o-animation: 4.25s ease primary-opacity-change 1s infinite;
    -moz-animation: 4.25s ease primary-opacity-change 1s infinite;
    animation: 4.25s ease primary-opacity-change 1s infinite;
    opacity: 0;
  }
  .secondary-gradient {
    -webkit-animation: 4.25s ease secondary-opacity-change 1s infinite;
    -ms-animation: 4.25s ease secondary-opacity-change 1s infinite;
    -o-animation: 4.25s ease secondary-opacity-change 1s infinite;
    -moz-animation: 4.25s ease secondary-opacity-change 1s infinite;
    animation: 4.25s ease secondary-opacity-change 1s infinite;
    opacity: 0.5333;
  }

  @-webkit-keyframes primary-opacity-change {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5333;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes secondary-opacity-change {
    0% {
      opacity: 0.5333;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0.5333;
    }
  }

  @-ms-keyframes primary-opacity-change {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5333;
    }
    100% {
      opacity: 0;
    }
  }
  @-ms-keyframes secondary-opacity-change {
    0% {
      opacity: 0.5333;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0.5333;
    }
  }

  @-moz-keyframes primary-opacity-change {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5333;
    }
    100% {
      opacity: 0;
    }
  }
  @-moz-keyframes secondary-opacity-change {
    0% {
      opacity: 0.5333;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0.5333;
    }
  }

  @-o-keyframes primary-opacity-change {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5333;
    }
    100% {
      opacity: 0;
    }
  }
  @-o-keyframes secondary-opacity-change {
    0% {
      opacity: 0.5333;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0.5333;
    }
  }

  @keyframes primary-opacity-change {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5333;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes secondary-opacity-change {
    0% {
      opacity: 0.5333;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0.5333;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply drop-shadow-[0_3px_3px_rgba(255,255,255,0.111)] dark:drop-shadow-[0_3px_3px_rgba(0,0,0,0.333)];
  }

  li {
    @apply font-semibold;
  }

  label {
    @apply text-[1rem] text-slate-300;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  h3 {
    @apply text-2xl sm:text-3xl;
  }

  li,
  article * a {
    @apply cursor-pointer text-[#2e40e0] dark:text-[#9fa8ff];
  }

  li:hover,
  article * a:hover {
    @apply cursor-pointer text-[#0e20c0] dark:text-[#7f88df];
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#4f58fc] to-[#2e40e0] text-white;
  }

  blockquote {
    @apply text-[#2f3947] dark:text-[#ccd0d3] dark:bg-black/20 bg-black/10 px-4 py-2;
  }

  time {
    @apply dark:text-[#dde] text-[#556];
  }

  hr {
    border-top: 1px solid #ddd;
    margin: 1rem 0;
  }

  hr {
    @apply border-t-slate-700 dark:border-t-slate-300;
  }

  .left {
    inset: 0 auto auto 0;
    transform-origin: 100% 0;
    transform: translate(-29.3%) rotate(-45deg);
  }
  .right {
    inset: 0 0 auto auto;
    transform-origin: 0 0;
    transform: translate(29.3%) rotate(45deg);
  }

  main,
  ._404 {
    -webkit-animation: 1s ease fade-in;
    -ms-animation: 1s ease fade-in;
    -o-animation: 1s ease fade-in;
    -moz-animation: 1s ease fade-in;
    animation: 1s ease fade-in;
  }

  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
      padding-top: 27.333%;
    }
    25% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      padding-top: 0;
    }
  }
  @-ms-keyframes fade-in {
    0% {
      opacity: 0;
      padding-top: 27.333%;
    }
    25% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      padding-top: 0;
    }
  }
  @-o-keyframes fade-in {
    0% {
      opacity: 0;
      padding-top: 27.333%;
    }
    25% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      padding-top: 0;
    }
  }
  @-moz-keyframes fade-in {
    0% {
      opacity: 0;
      padding-top: 27.333%;
    }
    25% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      padding-top: 0;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
      padding-top: 27.333%;
    }
    25% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      padding-top: 0;
    }
  }

  .fade-out {
    -webkit-animation: 1s ease fade-out forwards;
    -ms-animation: 1s ease fade-out forwards;
    -o-animation: 1s ease fade-out forwards;
    -moz-animation: 1s ease fade-out forwards;
    animation: 1s ease fade-out forwards;
  }

  @-webkit-keyframes fade-out {
    0% {
      opacity: 1;
      padding-top: 0;
    }
    25% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      padding-top: 27.333%;
    }
  }
  @-ms-keyframes fade-out {
    0% {
      opacity: 1;
      padding-top: 0;
    }
    25% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      padding-top: 27.333%;
    }
  }
  @-o-keyframes fade-out {
    0% {
      opacity: 1;
      padding-top: 0;
    }
    25% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      padding-top: 27.333%;
    }
  }
  @-moz-keyframes fade-out {
    0% {
      opacity: 1;
      padding-top: 0;
    }
    25% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      padding-top: 27.333%;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
      padding-top: 0;
    }
    25% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      padding-top: 27.333%;
    }
  }

  .fade-out-blossoms {
    -webkit-animation: 1s ease fade-out-blossoms forwards;
    -ms-animation: 1s ease fade-out-blossoms forwards;
    -o-animation: 1s ease fade-out-blossoms forwards;
    -moz-animation: 1s ease fade-out-blossoms forwards;
    animation: 1s ease fade-out-blossoms forwards;
  }

  @keyframes fade-out-blossoms {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-out-blossoms {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-out-blossoms {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-out-blossoms {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-out-blossoms {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  :not(.dark body) * h1,
  :not(.dark body) * h2,
  :not(.dark body) * h3,
  :not(.dark body) * h4,
  :not(.dark body) * h5,
  :not(.dark body) * h6,
  :not(.dark body) * p :not(.header-2) :not(span) {
    -webkit-animation: 10s ease color-change 1s infinite;
    -ms-animation: 10s ease color-change 1s infinite;
    -o-animation: 10s ease color-change 1s infinite;
    -moz-animation: 10s ease color-change 1s infinite;
    animation: 10s ease color-change 1s infinite;
  }

  @-webkit-keyframes color-change {
    0% {
      color: #19216f;
    }
    25% {
      color: #4f1149;
    }
    50% {
      color: #11496f;
    }
    75% {
      color: #4f1149;
    }
    100% {
      color: #19216f;
    }
  }

  @-o-keyframes color-change {
    0% {
      color: #19216f;
    }
    25% {
      color: #4f1149;
    }
    50% {
      color: #11494f;
    }
    75% {
      color: #4f1149;
    }
    100% {
      color: #19216f;
    }
  }

  @-moz-keyframes color-change {
    0% {
      color: #19216f;
    }
    25% {
      color: #4f1149;
    }
    50% {
      color: #11494f;
    }
    75% {
      color: #4f1149;
    }
    100% {
      color: #19216f;
    }
  }

  @-ms-keyframes color-change {
    0% {
      color: #19216f;
    }
    25% {
      color: #4f1149;
    }
    50% {
      color: #11494f;
    }
    75% {
      color: #4f1149;
    }
    100% {
      color: #19216f;
    }
  }

  @keyframes color-change {
    0% {
      color: #19216f;
    }
    25% {
      color: #4f1149;
    }
    50% {
      color: #11494f;
    }
    75% {
      color: #4f1149;
    }
    100% {
      color: #19216f;
    }
  }

  .dark body * h1,
  .dark body * h2,
  .dark body * h3,
  .dark body * h4,
  .dark body * h5,
  .dark body * h6,
  .dark body * p :not(.header-2) :not(span) {
    -webkit-animation: 10s ease dark-color-change 1s infinite;
    -ms-animation: 10s ease dark-color-change 1s infinite;
    -o-animation: 10s ease dark-color-change 1s infinite;
    -moz-animation: 10s ease dark-color-change 1s infinite;
    animation: 10s ease dark-color-change 1s infinite;
  }

  @-webkit-keyframes dark-color-change {
    0% {
      color: #fff0e0;
    }
    25% {
      color: #f0e0ff;
    }
    50% {
      color: #e0fff0;
    }
    75% {
      color: #f0e0ff;
    }
    100% {
      color: #fff0e0;
    }
  }

  @-o-keyframes dark-color-change {
    0% {
      color: #fff0e0;
    }
    25% {
      color: #f0e0ff;
    }
    50% {
      color: #e0fff0;
    }
    75% {
      color: #f0e0ff;
    }
    100% {
      color: #fff0e0;
    }
  }

  @-moz-keyframes dark-color-change {
    0% {
      color: #fff0e0;
    }
    25% {
      color: #f0e0ff;
    }
    50% {
      color: #e0fff0;
    }
    75% {
      color: #f0e0ff;
    }
    100% {
      color: #fff0e0;
    }
  }

  @-ms-keyframes dark-color-change {
    0% {
      color: #fff0e0;
    }
    25% {
      color: #f0e0ff;
    }
    50% {
      color: #e0fff0;
    }
    75% {
      color: #f0e0ff;
    }
    100% {
      color: #fff0e0;
    }
  }

  @keyframes dark-color-change {
    0% {
      color: #fff0e0;
    }
    25% {
      color: #f0e0ff;
    }
    50% {
      color: #e0fff0;
    }
    75% {
      color: #f0e0ff;
    }
    100% {
      color: #fff0e0;
    }
  }

  /** ********************
    *  Ribbon CSS: BEGIN
    * ********************
    *  Credit: Temani Afif
    *  Original Article and Source Code Refrence: 
    *  https://www.freecodecamp.org/news/make-a-css-only-ribbon/
    *
    */
  .folded-ribbon {
    --f: 10px; /* control the folded part*/
    --r: 15px; /* control the ribbon shape */
    --t: 10px; /* the top offset */

    position: absolute;
    inset: var(--t) calc(-1 * var(--f)) auto auto;
    padding: 0 10px var(--f) calc(10px + var(--r));
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - var(--f)),
      calc(100% - var(--f)) 100%,
      calc(100% - var(--f)) calc(100% - var(--f)),
      0 calc(100% - var(--f)),
      var(--r) calc(50% - var(--f) / 2)
    );
    background: #4e60ff;
    box-shadow: 0 calc(-1 * var(--f)) 0 inset #0005;
    color: #fff;
    z-index: 1;
  }

  .new-release-box {
    margin: 0;
    background: transparent;
    position: relative;
  }
  /** ****************** 
   *   Ribbon CSS: END
   *  ******************
   */
}
