@use "partials/anchor";
@use "partials/app";
@use "partials/avatar";
@use "partials/colors";
@use "partials/footer";
@use "partials/promo";

@import "./partials/paragraph";

body {
  background-color: colors.$dark-1 !important;
  overflow-x: hidden;
}

nav,
header,
.app .home {
  background-color: transparent !important;
  border: none !important;
  transition: all 0.3s ease-out;
}

* {
  color: colors.$light-1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
span {
  color: colors.$light-gold;
}

.active {
  color: colors.$light-1 !important;
  &:hover {
    color: colors.$light-2 !important;
  }
}
.anchor-text {
  @include anchor.styled-text--default;
}
.app {
  @include app.styled--default;
}
.avatar,
.work {
  @include avatar.styled;
}
.work,
.cert {
  border-radius: 8px;
}
.copyright {
  &:hover {
    font-size: 15px;
  }
}
.footer {
  @include footer.styled--default;
}
.resume,
.work,
.cert {
  background-color: #101c2f90 !important;
}
.promo {
  @include promo.styled;
}
@media (max-width: 780px) {
  nav {
    background: linear-gradient(to bottom, #190444e6, #032f3fbf) !important;
    box-shadow: 0 0 20px linear-gradient(to bottom, #190444e6, #032f3fbf) !important;
  }
}

.onelove {
  text-decoration: none;
  transition: all 0.3s;
  &:hover {
    opacity: 0.8;
    font-size: large;
  }
}

.mantine-Accordion-control {
  transition: all 0.3s ease;
}
.mantine-Accordion-control:hover {
  background-color: #101c2f90;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: colors.$light-1 !important;
  }
  *,
  .promo {
    color: colors.$dark-1;
  }
  span {
    color: colors.$amber-gold;
  }
  .active {
    color: colors.$dark-1 !important;
    &:hover {
      color: colors.$dark-2 !important;
    }
  }
  .anchor-text {
    @include anchor.styled-text--light;
  }
  .app {
    @include app.styled--light;
  }
  .footer {
    @include footer.styled--light;
  }

  .resume,
  .work,
  .cert {
    background-color: #f9fcff90 !important;
  }
  .onelove {
    color: colors.$amber-gold;
  }
  @media (max-width: 780px) {
    nav {
      background: linear-gradient(to bottom, #e9dfffe9, #effb) !important;
      box-shadow: 0 0 20px linear-gradient(to bottom, #e9dfffe9 #effb) !important;
    }
  }
  
  .mantine-Accordion-control {
    transition: all 0.3s ease;
  }
  .mantine-Accordion-control:hover {
    background-color: #effb;
  }
}
