<span *ngIf="language === 'en'">
  <div>
    <br />
    <h2>
      Short Autobiography
    </h2>
    <h1>
      Always proactively learning outside of my work, 
      I'm never waiting to be taught what I want to learn. 
    </h1>
    <p>
      I'm local to the Greater Nashville area of Tennessee. 
      Currently, I develop .NET web applications by day and build 
      Angular web applications in my leisure time.
      Passionate about learning, I'm always educating myself and applying
      aquired knowledge to projects in and outside of work.
    </p>
  </div>
</span>
<span *ngIf="language === 'jp'">
  <div>
    <br />
    <h2>
      自己紹介
    </h2>
    <h1>
        私はプレストンと申します。<br/>
        Atos Syntel, Inc.で<br/>
        .NET開発職をやっています。<br/>
        趣味でAngular開発もします。
    </h1>
    <p>
      現在、アメリカのテネシー州のナッシュビルに住んでいます。
      ナッシュビルはカントリーミュージックに有名な場所の上、
      「Music City（音楽都市）」としても知られています。
      ナッシュビルで働き続けたいと思っていますが、
      日本語を使う機会があると嬉しいです。
      どうぞ宜しくお願いします！
    </p>
  </div>
</span>