<div>
  <br />
  <h2>
    Short Autobiography
  </h2>
  <h1>
    Always proactively learning outside of my work, 
    I'm never waiting to be taught what I want to learn. 
  </h1>
  <p>
    I'm local to the Greater Nashville area of Tennessee. 
    Currently, I develop .NET applications by day and build 
    front-end web applications in my leisure time.
    Passionate about learning, I'm always educating myself and applying
    aquired knowledge to projects in and outside of work.
  </p>
</div>