---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/portfolio/Footer";

import { SITE_HOME_TITLE, SITE_HOME_DESCRIPTION } from "../config";
import Navbar from "../components/portfolio/Navbar";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <script is:inline src="/resolve-fouc.js"></script>
    <BaseHead title={SITE_HOME_TITLE} description={SITE_HOME_DESCRIPTION} />
  </head>
  <body>
    <div class="primary-gradient fixed h-[100vh] w-full"></div>
    <div class="secondary-gradient fixed h-[100vh] w-full"></div>
    <header>
      <nav>
        <Navbar client:load />
      </nav>
    </header>
    <main class="md:px-10 px-3 w-full text-center">
      <p class="lg:h-screen lg:py-0 py-36 flex justify-center items-center">
        Page not found.
      </p>
    </main>
    <Footer />
    <script is:inline src="/copyright-notice.js"></script>
    <script>
      const addFadeOutClass = () => {
        document
          .getElementsByTagName("main")
          ?.item(0)
          ?.classList?.add("fade-out");
      };
      (function (previousRoute = "") {
        setTimeout(() => addFadeOutClass(), 2133);
        setTimeout(
          () =>
            (window.location.href = `/${
              ["", "about", "skills", "works", "blog"].indexOf(
                previousRoute ?? ""
              ) > -1
                ? previousRoute
                : ""
            }`),
          2667
        );
      })(localStorage.getItem("previousRoute"));
    </script>
    <script is:inline src="/get-previous-route.js"></script>
    <script is:inline src="/localize.js"></script>
  </body>
</html>
