---
import BaseHead from "../components/BaseHead.astro";
import About from "../components/portfolio/About";
import Footer from "../components/portfolio/Footer";
import Navbar from "../components/portfolio/Navbar";

import { SITE_ABOUT_TITLE, SITE_ABOUT_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <script is:inline src="/resolve-fouc.js"></script>
    <BaseHead title={SITE_ABOUT_TITLE} description={SITE_ABOUT_DESCRIPTION} />
  </head>
  <body>
    <div class="primary-gradient fixed h-[100vh] w-full"></div>
    <div class="secondary-gradient fixed h-[100vh] w-full"></div>
    <div class="z-[0]" id="blossomContainer"></div>
        <header>
      <nav>
        <Navbar client:load />
      </nav>
    </header>
    <main class="md:px-10 px-3">
      <About />
    </main>
    <Footer />
    <script is:inline src="/copyright-notice.js"></script>
    <script is:inline src="/get-previous-route.js"></script>
    <script is:inline src="/blossom-scene.js"></script>
    <script is:inline src="/localize.js"></script>
  </body>
</html>
