---
import BaseHead from '../components/BaseHead.astro';
import { SITE_ABOUT_TITLE, SITE_DESCRIPTION } from '../consts';

import Layout from '../layouts/BlogPost.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script is:inline src="/fouc-resolver.js"></script>
    <BaseHead title={SITE_ABOUT_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <header>
      <script is:inline src="/fouc-resolver.js"></script>
    </header>

    <Layout
      title="About Me"
      description="Get to know more about me"
      pubDate={new Date('November 16 2024')}
      heroImage="/profile-picture.avif"
    >
      <p
        class="text-transparent bg-clip-text bg-gradient-to-b from-[#49346a] to-[#6e408a] dark:from-[#41a2cb] dark:to-[#b0a3df]"
      >
        My journey is one of connection – connecting people through technology,
        through language, and a shared vision of a more compassionate world. My
        passion, encapsulated in the #ONELOVE ethos, drives me to build
        technology that puts people first.
        <br /><br />
        As a React Native Engineer, I strive to create "human-centered UI," ensuring
        technology serves to empower, not overwhelm. My belief in "user-owned data"
        stems from a deep respect for individual autonomy and the ethical use of
        information. I believe in a future where technology fosters genuine connections
        and does not incite prejudice, discrimination, or conflict.
        <br /><br />
        Beyond coding, I'm dedicated to bridging cultural gaps. As a tutor on Preply,
        I share my love of language, guiding students toward fluency. My JLPT N2
        certification and extensive Mandarin coursework reflect my commitment to
        multilingualism and cross-cultural understanding. Speaking English, Japanese,
        and Mandarin (at a B1 level) along with some understanding of Spanish allows
        me to connect with diverse communities and contribute to a more interconnected
        world.
        <br /><b></b>
        Ultimately, I'm driven by a desire to contribute to a world where technology
        and human connection coexist harmoniously, fostering understanding and unity
        across borders.<br /><br />
        I'm currently seeking remote job and online
        academic opportunities. Please send a direct message on <a
          href="https://www.linkedin.com/in/pjnalls/">LinkedIn</a
        >
        if you're a recruiter and would like to discuss further.
      </p>
    </Layout>
  </body>
</html>
