---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import About from '../components/portfolio/About';
import Footer from '../components/portfolio/Footer';

import { SITE_ABOUT_TITLE, SITE_ABOUT_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <script is:inline src="/resolve-fouc.js"></script>
    <BaseHead title={SITE_ABOUT_TITLE} description={SITE_ABOUT_DESCRIPTION} />
  </head>
  <body>    <div class="primary-gradient fixed h-[100vh] w-full"></div>
    <div class="secondary-gradient fixed h-[100vh] w-full"></div>
    <Header />
    <main class="md:px-10 px-3">
      <About />
    </main>
    <Footer />
  </body>
</html>
