---
import BaseHead from '../components/BaseHead.astro';
import { SITE_ABOUT_TITLE, SITE_DESCRIPTION } from '../consts';

import Layout from '../layouts/BlogPost.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script is:inline src="/fouc-resolver.js"></script>
    <BaseHead title={SITE_ABOUT_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <header>
      <script is:inline src="/fouc-resolver.js"></script>
    </header>

    <Layout
      title="About Me"
      description="Get to know more about me"
      pubDate={new Date('November 16 2024')}
      heroImage="/profile-picture.avif"
    >
      <p
        class="text-transparent bg-clip-text bg-gradient-to-b from-[#49346a] to-[#6e408a] dark:from-[#41a2cb] dark:to-[#b0a3df]"
      >
        I'm an MSIT postgraduate (Master of Science in Information Technology)
        at UoPeople (University of the People), deeply curious about the
        challenges of technological and psychological integration.
        <br />I'm also a software engineer and tutor, primarily writing code in
        React Native, NativeWind, and TypeScript, building and teaching people
        and AI how to build cross-platform Expo apps for iOS, Android, and the
        Web.
        <br /><br />
        Beyond coding, I spend most of my free time in introspection. I'm striving
        to contribute to some reconciliation between the fragmented collective and
        individual human psyche with the ever-accelerating integration of technology.
        I blog about it, TypeScript and TypeScript XML technologies at <a
          href="https://pjnalls.github.io/blog"
          target="_blank"
          rel="noopener noreferrer">pjnalls.github.io/blog</a
        >.
        <br /><br />
        Ultimately, I believe in a future where people and technology foster genuine
        connections and do not incite prejudice, discrimination, or conflict, and
        am driven by a desire to contribute to a world where people and machines
        coexist harmoniously, fostering empathy, understanding, and interconnectedness.
      </p>
    </Layout>
  </body>
</html>
