---
import { Image } from 'astro:assets';

import expoProjectImage from '../assets/project-homepage.avif';
import mlProjectsImage from '../assets/project-ml.avif';

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_HOME_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script is:inline src="/fouc-resolver.js"></script>
    <BaseHead title={SITE_HOME_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    class="dark:bg-gradient-to-b text-[#113a5b] dark:text-[#61d2ff] dark:from-[#173458] dark:to-[#1B553b] bg-gradient-to-b from-[#67a4f8] to-[#6Bf5ab]"
  >
    <Header />

    <main>
      <div class="flex flex-row flex-wrap gap-0">
        <div class="flex flex-col gap-8 justify-center w-full">
          <Image
            src="/banner.avif"
            alt="home page promotion image"
            class="object-cover sm:h-72 h-56"
            loading="eager"
            width={1584}
            height={438}
          />
          <div>
            <p>
              Hi 👋, I'm Preston. Welcome to my portfolio and blog website!
              <br />
              <br />Please use the navigation bar above to learn more about who
              I am, what I'm currently working on, and what I'm writing about at
              the moment.
            </p>
            <p>
              <span class="font-bold">
                Here are some machine learning (ML) projects I'm developing 🧠:
              </span>
            </p>
            <div class="flex flex-row items-center justify-center">
              <a href="https://github.com/pjnalls/ml_projects" target="_blank">
                <Image
                  src={mlProjectsImage}
                  alt="image of a machine learning project"
                  loading="eager"
                  width={360}
                  height={360}
                />
              </a>
            </div>
            <br />
            <br />
            <p>
              <span class="font-bold">
                Here is a cross-platform YouTube clone I built ✨:
              </span>
            </p>
            <div class="flex flex-row mx-auto">
              <a href="https://github.com/pjnalls/youtube" target="_blank">
                <Image
                  src={expoProjectImage}
                  alt="image of a Expo project"
                  width={1370}
                  height={802}
                  loading="eager"
                />
              </a>
            </div>
          </div>
          <p class="text-center">
            Please feel free to view all my projects <a href="/projects"
              href="/projects">here</a
            >.
          </p>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
