---
import { Image } from 'astro:assets';

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_HOME_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script is:inline src="/fouc-resolver.js"></script>
    <BaseHead title={SITE_HOME_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    class="text-[#113a5b] dark:text-[#aae2ff] dark:bg-[#1B553b] bg-[#6Bf5ab]"
  ><div
      class="dark:bg-gradient-to-b text-[#113a5b] dark:text-[#aae2ff] dark:from-[#173458] dark:to-[#1B553b] bg-gradient-to-b from-[#67a4f8] to-[#6Bf5ab] fixed z-0 top-16 w-full h-[calc(100vh-64px)]"
    >
    </div>
    <Header />
    <main class="relative z-10 mt-16">
      <div class="flex flex-row flex-wrap gap-0">
        <div class="flex flex-col gap-8 justify-center w-full items-center">
          <Image
            src="/banner.avif"
            alt="home page promotion image"
            class="object-cover sm:h-72 xs:h-44 h-36"
            loading="eager"
            width={1584}
            height={438}
          />
          <div class="flex flex-col gap-0 items-center">
            <h1 class="text-4xl font-bold mb-0">Hey there! 👋 I'm Preston.</h1>
            <h2 class="text-2xl font-medium mb-4">
              Welcome to my portfolio and blog website.
            </h2>
            <p>
              Please use the navigation bar above to learn more about who I am,
              what I'm currently working on, and what I'm writing about at the
              moment.
            </p>
            <a
              href="/projects"
              class="bg-[#d0c2ff] dark:bg-[#6e408a] border-4 border-[#6e408a] dark:border-[#d0c2ff] text-white px-4 py-2 rounded-md mb-6"
              style="text-decoration: none;"
            >
              View Projects
            </a>
          </div>
        </div>
        <Footer />
      </div>
    </main>
  </body>
</html>

<style>
  a {
    color: inherit;
  }
</style>
