---
import { Image } from 'astro:assets';

import { FaReact } from 'react-icons/fa';
import { SiTypescript } from 'react-icons/si';
import { SiExpo } from 'react-icons/si';

import homeImage from '../assets/project-homepage.avif';

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_HOME_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script is:inline src="/fouc-resolver.js"></script>
    <BaseHead title={SITE_HOME_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    class="dark:bg-gradient-to-b dark:from-[#19102a] dark:to-[#2a1a38] dark:text-[#61d2fb]"
  >
    <Header />

    <main>
      <div class="flex flex-row flex-wrap gap-0">
        <div class="flex flex-col gap-2 justify-center w-full">
          <h1 class="title text-center dark:text-[#61d2fb]">
            P<span class="text-5xl">RESTON</span><br />N<span class="text-5xl"
              >ALLS</span
            >
          </h1>
          <div
            class="md:w-[360px] w-[80vw] h-[4px] bg-[#19102a] dark:bg-[#61d2fb] mx-auto"
          >
          </div>
          <p class="mt-2 text-center tracking-widest">
            MSIT @UoPeople //<br />
            I Code in React Native, NativeWind & TypeScript.
          </p>
          <div class="mb-4 flex flex-row justify-center">
            <FaReact size={60} className="mr-[-8px]" />
            <div
              class="h-[60px] w-[2px] bg-[#19102a] dark:bg-[#61d2fb] mx-[30px]"
            >
            </div>
            <SiTypescript size={60} />
            <div
              class="h-[60px] w-[2px] bg-[#19102a] dark:bg-[#61d2fb] mx-[30px]"
            >
            </div>
            <SiExpo size={60} />
          </div>
          <div
            class="text-transparent bg-clip-text bg-gradient-to-b from-[#49346a] to-[#6e408a] dark:from-[#41a2cb] dark:to-[#b0a3df]"
          >
            <p>
              Hi, I'm Preston, and welcome to my portfolio and blog website!
              <br />
              <br />Please use the navigation bar above to learn more about who
              I am, what I'm currently working on, and what I'm writing about at
              the moment.
              <br />
              <br />
              <span class="font-bold"
                >This is a cross-platform YouTube clone I built
              </span><span class="text-black">✨</span><span class="font-bold"
                >:</span
              >
            </p>
            <div class="flex flex-row mx-auto">
              <Image
                src={homeImage}
                alt="Home Project"
                width={1370}
                height={802}
                loading="eager"
              />
            </div>
            <p class="text-center">
              Please view my React Native projects <a href="/projects">here</a>.
            </p>
          </div>
        </div>
      </div>
      <Footer />
    </main>
  </body>
</html>
