---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Projects from '../components/portfolio/Projects';
import Footer from '../components/portfolio/Footer';

import { SITE_PROJECTS_TITLE, SITE_PROJECTS_DESCRIPTION } from '../config';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <script is:inline src="/resolve-fouc.js"></script>
    <BaseHead title={SITE_PROJECTS_TITLE} description={SITE_PROJECTS_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="md:px-10 px-3">
      <Projects />
    </main>
    <Footer />
  </body>
</html>