---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Skills from "../components/portfolio/Skills";
import Footer from "../components/portfolio/Footer";

import { SITE_SKILLS_TITLE, SITE_SKILLS_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <script is:inline src="/resolve-fouc.js"></script>
    <BaseHead title={SITE_SKILLS_TITLE} description={SITE_SKILLS_DESCRIPTION} />
  </head>
  <body>
    <div class="primary-gradient fixed h-[100vh] w-full"></div>
    <div class="secondary-gradient fixed h-[100vh] w-full"></div>
    <div class="z-[0]" id="blossomContainer"></div>
    <Header />
    <main class="md:px-10 px-3">
      <Skills />
    </main>
    <Footer />
    <script is:inline src="/copyright-notice.js"></script>
    <script is:inline src="/get-previous-route.js"></script>
    <script is:inline src="/blossom-scene.js"></script>
  </body>
</html>
