---
import BaseHead from "../components/BaseHead.astro";
import Works from "../components/portfolio/Works";
import Footer from "../components/portfolio/Footer";

import { SITE_WORKS_TITLE, SITE_WORKS_DESCRIPTION } from "../config";
import Navbar from "../components/portfolio/Navbar";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <script is:inline src="/resolve-fouc.js"></script>
    <BaseHead
      title={SITE_WORKS_TITLE}
      description={SITE_WORKS_DESCRIPTION}
    />
  </head>
  <body>
    <div class="primary-gradient fixed h-[100vh] w-full"></div>
    <div class="secondary-gradient fixed h-[100vh] w-full"></div>
    <div class="z-[0]" id="blossomContainer"></div>
    <header>
      <nav>
        <Navbar client:load />
      </nav>
    </header>
    <main class="md:px-10 px-3">
      <Works />
    </main>
    <Footer />
    <script is:inline src="/copyright-notice.js"></script>
    <script is:inline src="/get-previous-route.js"></script>
    <script is:inline src="/blossom-scene.js"></script>
  </body>
</html>
