h1.name {
  color: #dddddd;
  font-size: 30px;
  line-height: 0px;
  margin-bottom: 0px;
  margin-top: 22.5px;
  font-weight: 500;
  -webkit-animation: slide-up-fade-in ease-out 0.75s;
  animation: slide-up-fade-in ease-out 0.75s;
}

@import './_slide-up-fade-in.scss';

div.navbar {
  background-color: #413f44;
  height: 45px;
  a.lg-options {
    line-height: 45px;
    font-size: 15px;
    text-decoration: none;
    color: #ffffff;
    margin-right: 90px;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }
  a.image-option {
    margin-right: 0;
    img {
      width: 17px;
      height: auto;
      margin-top: 5px;
      margin-right: 90px;
      position: relative;
      top: 4.5px;
    }
  }
  a.active {
    color: #bbbbbb;
  }
  a:hover {
    color: #bbbbbb;
    cursor: pointer;
  }
  a.last-option {
    margin-right: 0; 
  }
  a.home {
    color: #ffffff;
  }
  a.home.active {
    color: #ffffff;
  }
}

.collapsible-menu {
  display: none;
}
hr {
  opacity: 0;
  border-color: #8a8a8a;
}

@media only screen and (max-width: 700px) {
  div.navbar {
    a.lg-options {
      display: none;
    }
    a.image-option {
      margin-right: 0;
      img {
        width: 17px;
        height: auto;
        margin: auto;
        position: relative;
        top: 12.5px;
      }
    }
  }
  ul, li, a.sm-options {
    text-align: left;
  }
  a.sm-options {
    color: #ffffff;
    text-decoration: none;
    opacity: 0;
    -webkit-transition: color 0.5s, opacity 0.333s;
    transition: color 0.5s, opacity 0.333s;
  }
  ul {
    margin-top: -400px;
    -webkit-transition: margin-top 0.333s;
    transition: margin-top 0.333s;
  }
  a.active {
    color: #bbbbbb;
  }
  a:hover {
    color: #bbbbbb;
    cursor: pointer;
  }
  a.home {
    color: #ffffff;
  }
  a.home.active {
    color: #ffffff;
  }
  hr {
    opacity: 0;
  }
  .change .menu-content ul hr {
    opacity: 1;
  }
  .change .menu-content ul li a {
    opacity: 1;
  }
  .change .menu-content ul {
    margin-top: 15px;
  }
  .container {
    cursor: pointer;
    position: relative;
    top: -38px;
    left: -15px;
  }

  .bar1, .bar2, .bar3 {
    width: 25px;
    height: 2px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.333s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 6px);
    transform: rotate(-45deg) translate(-4px, 6px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 { 
    -webkit-transform: rotate(45deg) translate(-5px, -8px);
    transform: rotate(45deg) translate(-5px, -8px);
  }

  .menu-content {
    padding: 6.67px 0 6.67px 0;
  }
  .collapsible-menu {
    background-color: #121212;
    padding: 0 30px;
    color: #ffffff;
    display: block;
    height: 0;
    transition: height ease-out 0.333s;
  }
  .collapsible-menu ul {
    list-style-type: none;
    padding: 0;
  }
  .collapsible-menu a {
    display:block;
    padding: 10px;
    text-decoration: none;
  }
  .change .menu-content {
    display: block;
  }
  .collapsible-menu.change {
    height: 295px;
  }
}
