<div class="navbar">
  <a class="image-option" routerLink="/">
    <img src="../assets/p-logo/p-icon_300x320.png"></a>
  <a #home class="lg-options" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
  <a #bio class="lg-options" routerLink="/bio" routerLinkActive="active">Bio</a>
  <a #resume class="lg-options" routerLink="/resume" routerLinkActive="active">Résumé</a>
  <a #projects class="lg-options" routerLink="/projects" routerLinkActive="active">Projects</a>
  <a #contact class="lg-options last-option" 
     routerLink="/contact" routerLinkActive="active">Contact</a>
</div>
<div class="collapsible-menu" onclick="this.classList.toggle('change');">
  <div class="container" onclick="this.classList.toggle('change');">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
    <div class="menu-content">
      <br /><br />
      <ul>
        <li><a class="sm-options" 
               routerLink="/" 
               routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
            <hr/>
        <li><a #bio class="sm-options" 
               routerLink="/bio" 
               routerLinkActive="active">Bio</a></li>
            <hr/>
        <li><a #resume class="sm-options" 
               routerLink="/resume" 
               routerLinkActive="active">Résumé</a></li>
            <hr/>
        <li><a #projects class="sm-options" 
               routerLink="/projects" 
               routerLinkActive="active">Projects</a></li>
            <hr/>
        <li><a #contact class="sm-options" 
               routerLink="/contact" 
               routerLinkActive="active">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
<br /><br /><br /><br /><br />
<h1 class="name">{{name}}</h1>
<div [@routerTransition]="page.activatedRouteData.state">
  <router-outlet #page="outlet"></router-outlet>
</div>
