<div *ngIf="language === 'en'">
  <br />
  <h2>
    GitHub Projects
  </h2>
  <h1>
    Follow me on GitHub. 
  </h1>
  <br />
  <a target="_blank" href="https://github.com/pjnalls">
    <img src="../../../../../assets/GitHub-Mark-Light-120px-plus.png" alt="LinkedIn Logo Initials"/>
  </a>
  <div id="calendar-en" class="calendar"></div>
  <h3 id="calendar-error" class="calendar-error">GitHub calendar is temporarily unavailable.</h3>
  <p>
    Visit my 
    <a target="_blank" href="https://github.com/pjnalls">GitHub profile</a>.
  </p>
</div>
<div *ngIf="language === 'jp'">
  <h2>
    GitHubのプロジェクト
  </h2>
  <h1>
    GitHubでフォローして下さい。 
  </h1>
  <a target="_blank" href="https://github.com/pjnalls">
    <img src="../../../../../assets/GitHub-Mark-Light-120px-plus.png" alt="LinkedIn Logo Initials"/>
  </a>
  <div id="calendar-jp" class="calendar"></div>
  <h3 id="calendar-error" class="calendar-error">
    恐れ入りますが、GitHubのカレンダーが一時的にご利用いただけません。
  </h3>
  <p>
    私の 
    <a target="_blank" href="https://github.com/pjnalls">GitHubプロフィールへ</a>。
  </p>
</div>
