<div>
  <img
    alt="bright light blue and neon purple gradient over a picture of space of the Earth"
    src="/background-light.webp"
    class="z-0 fixed w-full h-full dark:hidden block mt-16"
  />
  <img
    alt="bright light blue and neon purple gradient over a picture of space of the Earth"
    src="/background-dark.webp"
    class="z-0 fixed w-full h-full dark:block hidden mt-16"
  />
  <slot />
</div>
