<div #calendar>
  <br />
  <span *ngIf="language === 'en'">
    <h2>
      GitHub Projects
    </h2>
    <h1>
      Pushing code daily since December 24th, 2018. 
    </h1>
  </span>
  <span *ngIf="language === 'jp'">
    <h2>
      GitHubのプロジェクト
    </h2>
    <h1>
      2018年12月24日から毎日<br/>
      コードをプッシュしています。 
    </h1>
  </span>
  <div id="calendar" class="calendar"></div>
  <span *ngIf="language === 'en'">
    <h3 id="calendar-error" class="calendar-error">GitHub calendar is temporarily unavailable.</h3>
    <p>
      Visit my 
      <a target="_blank" href="https://github.com/pjnalls">GitHub profile</a>.
    </p>
  </span>
  <span *ngIf="language === 'jp'">
    <h3 id="calendar-error" class="calendar-error">
      恐れ入りますが、GitHubのカレンダーが一時的にご利用いただけません。
    </h3>
    <p>
      私の 
      <a target="_blank" href="https://github.com/pjnalls">GitHubプロフィールへ</a>。
    </p>
  </span>
</div>
