@import "./partials/config";

.canvas {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background-color;
  width: 100vw;
  height: 100vh;
  .circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 80vmin;
    height: 80vmin;
    border-radius: 50%;
    background: $circle-color;
    @import "./partials/pot";
    @import "./partials/cactus";
    @import "./partials/cactus-small";
  }
}
